
<h1>Pump Simulation Page</h1>

<form onsubmit="return false;">


<input type="button" value="BeginPumpSimulation"/>
<input type="button" value="EndPumpSimulation"/>

<!--  parameters needed to prime the simulator -->
<input type="StationName" name="station" value="stl/bigroad"/>
<input type="SimRate" name="station" value="slider?  1hr -> 1sec"/>
<input type="FuleTypes" name="station" value="1,2,3"/>
<input type="PricePerGallon" name="station" value="1.23"/>

<!-- these values are sent to the back end where the simulation is done -->


<h3>Status</h3>
	Running or not running  <!-- fom websocket response -->

</form>




