
<h1>Station Tank Simulation Page</h1>

<form onsubmit="return false;">


<input type="button" value="BeginTankSimulation"/>
<input type="button" value="EndTankSimulation"/>

<!--  parameters needed to prime the simulator -->
<input type="StationName" name="station" value="stl/bigroad"/>
<input type="TankSize" name="station" value="1000000"/>
<input type="SimRate" name="station" value="slider?  1hr -> 1sec"/>
<input type="FuleType" name="station" value="Unleded"/>

<!-- these values are sent to the back end where the simulation is done -->


<h3>Status</h3>
	Running or not running  <!-- fom websocket response -->

</form>
