
@page { margin: 0cm 0cm 0cm 0cm; }
body { margin: 0in, .25in; }


.container {
	margin-left: 0px;
    width: 680px;
}   
    
td { 
    padding: 10px;
    text-align: right;
}

th { 
    padding: 10px;
    text-align: right;
}

table { 
    margin-left: 5px;
    border-spacing: 10px;
    border-collapse: separate;
}

canvas {
    margin-left: 5px;
}